<style>
  .producto {
    flex: 1 1 calc(20% - 40px);
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f0f1f3;
    max-width: calc(20% - 150px);
    min-width: 200px;
    border-radius: 5px;
    border: 2px solid #006ee6;
    height: 320px;
    position: relative; /* Permite posicionar elementos dentro del contenedor */
  }


  .producto img {
    width: 100%;
    height: 130px;
    display: block;
    
  }

  .username-blog{
    font-weight: bold; /* Negrita */
    font-size: 1.1rem; /* Un poco más grande */
    text-decoration: none; /* Eliminar subrayado si es necesario */
    color: inherit; /* Mantener el color del texto */
    margin-top: 0.2rem;
    text-transform: uppercase; /* Convertir texto a mayúsculas */
    font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif; /* Ejemplo de una fuente 'bonita' */
  }

  .date-blog, .tag-blog{
    font-size: 14px;
    text-decoration: none; /* Eliminar subrayado */
    text-align: left; /* Alinear a la izquierda */
    display: block; /* Asegurar que ocupe toda la anchura disponible */
    margin-top: 0.1rem;
    margin-left: 0.3rem;
    color: inherit; /* Mantener el color del texto */
    font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif; /* Ejemplo de una fuente 'bonita' */
  }
  .button-blog {
    font-size: 18px;
    display: inline-block;
    text-align: center;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    width: 80%;
    text-decoration: none;
    color: white;
    background-color: rgb(47, 32, 131);
    border-radius: 5px;
    position: absolute; /* Posiciona el botón de forma absoluta */
    bottom: 8px; /* Lo coloca en la parte inferior del contenedor */
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .button-blog:hover {
    background-color: #0056b3;
  }
</style>

<div class="producto">
  <img src="{{blog.banner.url}}" alt="">
  <a class="username-blog" href="{% url 'view_user_information' blog.user.username %}">{{blog.user.username}}</a>
  <a class="date-blog" href="#">{{blog.created_date}}</a>
  {% if blog.tags.all.count > 0 %}
    {% for tag in blog.tags.all %}
      <a class="tag-blog" href="#">{{tag.title}}</a>
    {% endfor %}
  {% else %}
    None
  {% endif %}
  <a class="button-blog" href="{% url 'blog_details' blog.slug %}">{{blog.title}}</a>
</div>
